extend layout

block content
    h1= medicine.name
    <br>
    <br>
    h5= medicine.use
    <br>
    p= medicine.description
    <br>
    <br>

    hr
    a.btn.btn-default.btn-info(href='/medicines/edit/'+medicine._id) Edit
    a.btn.btn-danger#delete-medicine(href='/', dataid=medicine._id) Delete